@using System.Globalization
@model WeLoveBooks.Mvc.ViewModels.BookViewModel

@{
	ViewData["Title"] = $"{Model.Title} - details";
}

@{
    TempData["BookId"] = Model.Id;
}

<div class="card mb-3">
    <div class="row">
        <div>
			@if(Model.Photo is not null)
			{
				<img src="@Model.Photo.Url" class="img-fluid rounded-start" alt="user logo">
			}
			else
			{
				<img src="~/img/randombook.jpg" class="img-fluid rounded-start" alt="user logo">
			}		
			@if(User.IsInRole("Site Admin"))
			{
				var photoForm = new PhotoFormViewModel
				{
					Id = Model.Id,
					Type = 0
				};

				<button class="btn btn-sm btn-primary" id="enable-image-form">Dodaj zdjęcie</button>
				
				<div id="image-form" >
					<partial name="_PhotoForm" for=@photoForm />
				</div>
			}
		</div>
    </div>  
    <div class="card-body">
        <h3 class="card-title">@Model.Title</h3>
        <h5 class="card-title">@Model.AuthorName</h5>
        <div>
            @Html.Raw(Model.Description.Replace(Environment.NewLine, "<br/>"))
        </div>
        <p class="card-text"><small class="text-muted">Data wydania: @Model.CreatedDate.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("pl-PL"))</small></p>
    </div>
</div>

<h2>Recenzje</h2>
<a asp-controller="Review" asp-action="Create" class="btn btn-sm btn-primary" >Dodaj recenzję</a>

<partial name="_ReviewListPartial" for="Reviews" />

<script>
	const form = document.getElementById("image-form")
	const button = document.getElementById("enable-image-form")

	form.style.visibility = 'hidden'

	button.addEventListener('click', function(){
		if(form.style.visibility === 'hidden') {
			form.style.visibility = 'visible'
		} else {
			form.style.visibility = 'hidden'
		}
	})

	button.addEventListener('click', )
</script><